<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Update Success</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Operation Successful</h1>
    </header>
    <% if (operation === 'update') { %>
      <% if (type === 'client') { %>
        <p>Client updated successfully.</p>
      <% } else if (type === 'employee') { %>
        <p>Employee updated successfully.</p>
      <% } else if (type === 'appointment') { %>
        <p>Appointment updated successfully.</p>
      <% } %>
    <% } else if (operation === 'add') { %>
      <% if (type === 'client') { %>
        <p>Client added successfully.</p>
      <% } else if (type === 'employee') { %>
        <p>Employee added successfully.</p>
      <% } else if (type === 'appointment') { %>
        <p>Appointment added successfully.</p>
      <% } %>
    <% } %>
    <a href="/" class="btn">Return to Main Page</a>
  </div>
</body>
</html>
